html, body{
    margin: 0;
}

body{
    height: 39rem;
    display: flex;
    align-items: center;
}

.ia-container{
    height: auto;
    max-height: none;
}

.--report-screen p{
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif !important;
}

/* STRUCTURE */
table
{
    border-spacing: 0 2px;
}
tr + tr {
    margin: 0.2rem 0;
}
#--report-container{
    width: 95%;
    margin: auto;
}
.--report-screen{
   width: 100%;
   display: flex;
   align-items: center;
   display: inline-table;
   position: relative;
}
.--report-screen p{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    color: white;
    margin: 0;
}
.--report-titleContainer{
    width: 10rem;
}
.--report-scoreContainer{
    width: 7rem;
    text-align: right
}
.--report-progressBar{
    width: 100%;
    height: 0.35rem;
    background-color: rgba(255,255,255,0.5);
    position: relative;
}

.--report-progressBar::after{
    content: '';
    position: absolute;
    bottom: 100%;
    right: -10px;
    top: 0px;
    border: 5px solid transparent;
    border-bottom-color: rgba(255,255,255,0.5);
    transform: rotate(90deg);
}

.--report-progressFill{
    height: 0.35rem;
    background-color: white;
}

.--report-progressRocket{
    width: 8rem;
    height: 3.5rem;
    background-image: url(../content/learningunit7/common/progress001.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 6px;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.--report-progressSmoke{
    width: 3rem;
    height: 3rem;
    background-image: url(../content/learningunit7/common/progress005.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.--report-tick{
    background-image: url(../content/learningunit7/common/tick_report.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 4rem;
    margin-right: 10rem;
    float: right;
    padding: 1rem;
}

/* Flags */
.--report-flag{
    top: 10%;
    height: 50px;
    position: absolute;
}

.--report-flagLeft{
    left: -35px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    position: absolute;
    width: 36px;
}
.--report-flagRight{
    right: -35px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
    position: absolute;
    width: 36px;
}
.--report-flagLine{
    background: #9A9BB3;
    width: 4px;
    height: 92%;
    position: absolute;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.--report-flagLineLeft{
    left: 0;
}
.--report-flagLineRight{
    right: 0;
}

/* YEAR 6 */

.--report-title{
    cursor: pointer;
}
.--report-screen{
    background-size: 100% 100%;
}

.--report-screen-icon_report_01{
    background-image: url(../content/learningunit7/common/icon_report_01.png);
    background-repeat: no-repeat;
    height: 5.3rem;
}

.--report-screen-icon_report_02{
    background-image: url(../content/learningunit7/common/icon_report_02.png);
    background-repeat: no-repeat;
    height: 5.3rem;
}

.--report-screen-icon_report_03{
    background-image: url(../content/learningunit7/common/icon_report_03.png);
    background-repeat: no-repeat;
    height: 5.3rem;
}
.--report-screen-icon_report_04{
    background-image: url(../content/learningunit7/common/icon_report_04.png);
    background-repeat: no-repeat;
    height: 5.3rem;
}

.--report-screen-icon_report_04 p{
    color: #474747;
}

.--report-screen-icon_report_01 .--report-title,
.--report-screen-icon_report_02 .--report-title,
.--report-screen-icon_report_03 .--report-title,
.--report-screen-icon_report_04 .--report-title{
    color: #474747;
    font-size: 22.4px;
    display: flex;
    justify-content: center;
    padding-left: 40%;
}
.--report-screen-icon_report_01 .--report-titleContainer,
.--report-screen-icon_report_02 .--report-titleContainer,
.--report-screen-icon_report_03 .--report-titleContainer,
.--report-screen-icon_report_04 .--report-titleContainer{
    width: 32%;
}
.--report-screen-icon_report_01 .--report-progressContainer,
.--report-screen-icon_report_02 .--report-progressContainer,
.--report-screen-icon_report_03 .--report-progressContainer,
.--report-screen-icon_report_04 .--report-progressContainer{
    width: 22%;
    padding-left: 4%;
    box-sizing: border-box;
}
.--report-screen-icon_report_01 .--report-scoreContainer,
.--report-screen-icon_report_02 .--report-scoreContainer,
.--report-screen-icon_report_03 .--report-scoreContainer,
.--report-screen-icon_report_04 .--report-scoreContainer{
    width: 8%;
    text-align: center;
}

.--report-screen-icon_report_01 .--report-scoreContainer .--report-tick,
.--report-screen-icon_report_02 .--report-scoreContainer .--report-tick,
.--report-screen-icon_report_03 .--report-scoreContainer .--report-tick,
.--report-screen-icon_report_04 .--report-scoreContainer .--report-tick{
    padding: 0;
    float: none;
}

.--report-screen-icon_report_01 .--report-progressContainer .--report-progressBar,
.--report-screen-icon_report_01 .--report-progressContainer .--report-progressFill,
.--report-screen-icon_report_02 .--report-progressContainer .--report-progressBar,
.--report-screen-icon_report_02 .--report-progressContainer .--report-progressFill,
.--report-screen-icon_report_03 .--report-progressContainer .--report-progressBar,
.--report-screen-icon_report_03 .--report-progressContainer .--report-progressFill,
.--report-screen-icon_report_04 .--report-progressContainer .--report-progressBar,
.--report-screen-icon_report_04 .--report-progressContainer .--report-progressFill{
    height: 0.65rem;
}

.--report-titleContainerNoScore {
    width: 52% !important;
}

.--report-progressContainerNoScore{
    padding-right: 2rem;
}

.--report-scoreContainerNoScore{
    width: 12.5rem !important;
    text-align: initial !important;
}