/* PARA NÃO ABRIR O DICIONÁRIO ANTIGO NO ANDROID */
.qp-dictionary-popup {
    display: none;
}

/* dictionary container */
#dictionary_filter {
    z-index: 999999999 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 82%;
    transform: translate(-50%, -50%);
    background-color: transparent;
}

#dictionary_container {
    position: relative;
    display: flex;
    top: 51%;
    left: 50%;
    width: 92.5%;
    height: 78vh;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    transform: translate(-50%, -50%);
    background-color: rgb(221, 221, 221);
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
    box-shadow: 0px 0px 5px #888;
    border: 4px solid #DDDDDD;
}

#dictionary_container * {
    text-transform: none !important;
}

.columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: transparent;
}

/* Column 01 */
.rows {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0 0.16rem;
    left: .2%;
    width: 46%;
    height: 4vh;
    background-color: transparent;
}

#row01 {
    top: .2%;
}

#row02 {
    top: 5.5%;
}

.bts_letras {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 6%;
    height: 77%;
    background-color: #ffcc00;
    border: 0.12rem dashed #e8b900;
}

.bts_letras:hover {
    background-color: #5fc2ed;
}

.bts_letras p {
    color: #454545;
    text-align: center;
}

/* TXTS CONTAINERS */
#container_words {
    position: absolute;
    position: absolute;
    top: 55.5%;
    left: 25.1%;
    width: 49.5%;
    height: 67vh;
    overflow-y: scroll;
    background-color: #dedede;
    transform: translate(-50%, -50%);
}

.div_words {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: 100%;
    height: 3.45vh;
    background: no-repeat rgb(221 221 221);
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(176, 176, 176);
}

.div_words p {
    padding-left: 0.7rem;
    text-transform: none !important;
}

.div_words:hover {
    background: no-repeat rgb(233, 234, 233);
}

/* Column 02 */
#bt_close {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: .2%;
    left: 97.4%;
    width: 2%;
    height: 2.9%;
    cursor: pointer;
    background-color: #ffcc00;
    border: 0.12rem dashed #e8b900;
}

#bt_close span {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-weight: 900;
}

/* PESQUISA */
#search {
    position: absolute;
    top: 8.8%;
    left: 71.1%;
    width: 41%;
    height: 4%;
    text-align: left;
    padding-left: .2rem;
    border: 0.12rem solid #bbbbbb;
    background-color: #f2f2f2;
    transform: translate(-50%, -50%);
}

input {
    -webkit-user-select: text;
}

#bt_search {
    position: absolute;
    cursor: pointer;
    top: 8.8%;
    left: 94.7%;
    width: 3%;
    height: 4%;
    color: #454545;
    text-align: center;
    background-color: #ffcc00;
    border: 0.12rem dashed #e8b900;
    transform: translate(-50%, -50%);
}

#bt_search:hover {
    background-color: #00c3ef;
}

/* ÁUDIO */
#audio_container {
    position: absolute;
    top: 55.5%;
    left: 75%;
    width: 49.5%;
    height: 67vh;
    border: 0.12rem solid #bbbbbb;
    background-color: #f2f2f2;
    transform: translate(-50%, -50%);
}

#txt_audio_01 {
    color: #454545;
    font-style: italic;
}

#txt_audio_04 {
    font-style: italic;
    margin-top: 2rem;
}

.audios_txts {
    position: relative;
    width: 96%;
    text-align: left;
    margin: 0.5rem 0 0.5rem 1rem;
}

#box_audio {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 1.5%;
    width: 96%;
    height: 7vh;
    margin: 0 auto 1.5rem auto;
    background-color: #ffcd00;
}

/* ICON PLAY */
.bt_audios {
    cursor: pointer;
    width: 11%;
    height: 6vh;
    margin-left: 0.5rem;
    background-image: url(../img/bt_audio.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
}

#bt_audio:hover {
    background-image: url(../img/bt_audio_hover.png);
}

/* ICON PLAYED */
#bt_audio.played {
    background-image: url(../img/bt_pause.png);
}

#bt_audio.played:hover {
    background-image: url(../img/bt_pause_hover.png);
}