* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
	font-family: 'Trebuchet MS';
}



.ia-container {
    position: relative;
    max-width: 900px;
    max-height: 506px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
	background-color: #ffffff;
}

.ia-incont {
	position: absolute;
	left: 0;
	top: 0;
	/*z-index: 0;*/
}

.ia-incont2 {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	/*z-index: 1;*/
}



#img-tab-0 {
	z-index: -1;
}

svg {
	width: 100%;
	height: 100%;
	
}

.gap {
	position: absolute;
	width: 96px;
	height: 40px;
	background-image: url('./images/g0.png');
	/*background-color: #e9e9ed;*/
	text-align: center;
	display: table;
	vertical-align: middle;
	color: #595B68;
	font-size: 18px;
	line-height: 16px;
	
}


.gap-normal{
	background-color: #e9e9ed;
}


.gap p{
	display: table-cell;
	vertical-align: middle;
}

.gap-hover {
	background-color: #536FC3;
}



.button {
	position: absolute;
	cursor: pointer;
	color: #595B68;
	font-size: 18px;
	font-family: Arial;
	/*width: 96px;
	height: 40px;*/
	text-align: center;
	display: table;
	vertical-align: middle;
}
.button p {
	display: table-cell;
	vertical-align: middle;
}
.button-off {
	background: #E9E9ED;
	-webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3);
}
.button-on {
	background: rgba(135,136,157,0.5);
	-webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3);
	color: #ffffff;
}

.button-hover {
	background: rgba(135,136,157,0);
	-webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 0px 0px rgba(0,0,0,0);
	color: #000000;
}

.button-gap {
	position: absolute;
	cursor: pointer;
	color: #ffffff;
	font-size: 18px;
	font-family: Arial;
	/*width: 96px;
	height: 40px;*/
	text-align: center;
	display: table;
	vertical-align: middle;
	background: #87889D;
}
.button-gap p {
	display: table-cell;
	vertical-align: middle;
}

#button-gap-0, #button-0{
	width: 45px;
	height: 40px;
}

#button-gap-1, #button-1{
	width: 71px;
	height: 40px;
}

#button-gap-2, #button-2{
	width: 62px;
	height: 40px;
}

#button-gap-3, #button-3{
	width: 80px;
	height: 40px;
}

#button-gap-4, #button-4{
	width: 96px;
	height: 40px;
}

#button-gap-5, #button-5{
	width: 70px;
	height: 40px;
}

#button-gap-6, #button-6{
	width: 74px;
	height: 40px;
}



.button-reset {
	position: absolute;
	cursor: pointer;
	width: 50px;
	height: 50px;
	left: 836px;
	top: 15px;
	background: url('./images/reset_1.png');
}
.button-reset-on {
	background: url('./images/reset_click.png');
}


