.emp_dictionary_button{
	top:6px;
	left:100px;
	position:absolute;
	z-index:1;
	}
.qp-dictionary-button-wrapper{
    height: 69px;
    width: 69px;
    cursor: pointer;
	}
.qp-dictionary-button.qp-dictionary-button-up{
    background: url(btn_dictionary.png) no-repeat scroll 0 0 transparent;
    height: 69px;
    width: 69px;
	}
.qp-dictionary-button.qp-dictionary-button-up-hovering{
    background: url(btn_dictionary.png) no-repeat scroll -69px 0 transparent;
    height: 69px;
    width: 69px;
    }
    
.qp-dictionary-button.qp-dictionary-button-down-hovering{
    background: url(btn_dictionary.png) no-repeat scroll -69px 0 transparent;
    height: 69px;
    width: 69px;
    }
    
/* Dictionary demo*/
#root{
	background: url(images/1280x800_bg.jpg) no-repeat;	
	width:1280px;
	height:752px;
	/* overflow:hidden; */ 
}
.qp-dictionary-button{
	cursor: pointer;
}
.qp-dictionary-password-list-panel{
	overflow: scroll;
	height:200px;
}

.qp-dictionary-quickletters-button{
	display:inline-block;
	width: 40px;
	border: 1px solid red;
}

.qp-dictionary-quickletters-panel{
	width: 200px;
}

.qp-dictionary-password-button-selected{
	color: red;
}

.qp-dictionary-explanation-play-button-playing{
	background-color: red;
}

.qp-dictionary-tools-scroll-container{
	height:200px;
}

.qp-dictionary-menu-header{
	display: none;
}

.qp-dictionary-main{
	width: 960px;
	height: 600px;
	margin: 90px auto 0;
	background: url(top.png) center top #DDDDDD no-repeat;
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
	border: 4px solid #DDDDDD;
}
.qp-dictionary-popup{
    margin: 0 auto;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20000;
}
.qp-dictionary-popup-container {
    height: 658px;
    margin: 0 auto;
    width: 1024px;
}
.qp-dictionary-password-panel{
	float: left;
	width: 100%;
	height: 530px;
}

.qp-dictionary-password-list-panel{
	overflow-x: hidden !important;
    overflow-y: scroll;
	height:530px;
}


.qp-dictionary-tools-scroll-body{
	width:6px;
	background-color:red;
	height:100%;
}

table tr .qp-dictionary-quickletters-button{
	width: 30px;
	height: 28px;
	background: #FFCC00;
	text-align: center;
	color:#474747;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	border: 1px dashed #CCA300;
	cursor: pointer;
	
}

table tr .qp-dictionary-quickletters-button-down-hovering, table tr .qp-dictionary-quickletters-button-up-hovering{
	width: 30px;
	height: 28px;
	background: #5FC2ED;
	text-align: center;
	color:#474747;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	border: 1px dashed #CCA300;
	
}


table tr:first-child .qp-dictionary-quickletters-button{
	width: 30px;
	height: 28px;
	background: #FFCC00;
	text-align: center;
	color:#474747;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
	border: 1px dashed #CCA300;
}

table tr:first-child .qp-dictionary-quickletters-button-down-hovering, table tr:first-child .qp-dictionary-quickletters-button-up-hovering{
	width: 30px;
	height: 28px;
	background: #5FC2ED;
	text-align: center;
	color:#474747;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.qp-dictionary-quickletters-panel{
	float: left;
	width: 50%;
/* 	padding-left: 10px;*/
/* 	padding-top: 2px;*/
	height:70px
}

.qp-dictionary-quickletters-panel table tr{
margin:0px;
padding:0px;
}


.qp-dictionary-password-button-selected{
	color: red;
}
.qp-dictionary-password-panel-container{    
/*    padding: 19px 9px 23px 10px; */
	float:left;
	width: 50%;
	background: #DDDDDD no-repeat;
}

.qp-dictionary-explanation{
	float:right;
	width: 50%;
	-moz-box-shadow: inset 0px 0px 5px #888;
	-webkit-box-shadow: inset 0px 0px 5px #888;
	box-shadow: inset 0px 0px 5px #888;
	height: 530px;
	background: none repeat scroll 0 0 #F2F2F2;
	overflow:auto;
	overflow-x:hidden;
}

.qp-dictionary-explanation .qp-dictionary-explanation-back-button{
	display:none;
}

.qp-dictionary-header-panel{
	position:absolute;
	left:72px;
	top:46px;
}
/*
.qp-dictionary-exit-button{
	width:89px;
	height:54px;
}
.qp-dictionary-exit-button-up{
	background: url(images/1280x800_dictionary_explanation_back_up.png) no-repeat; 
}
.qp-dictionary-exit-button-up-hovering, .qp-dictionary-exit-button-down-hovering{
	background: url(images/1280x800_dictionary_explanation_back_up.png) no-repeat;
} 
*/

.empiria-tools-scroll-container{
	width:6px;
	height: 500px;
	float:left;
}

.empiria-tools-scroll-body{
	width:5px;
	height:100%;
	background: #7f7f7f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.qp-dictionary-search-panel{
	float: right;
	width: 50%;
	height: 70px;
}

.qp-dictionary-search-box-panel{
	background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #B0B0B0;
	width: 85%;
	margin: 30px 0 0;
	padding: 5px;
	float: left;
}

.qp-dictionary-search-button{
	float: right;
	margin: 32px 30px 0 0;
	cursor: pointer;
}

.qp-dictionary-seach-button-up{
}
.qp-dictionary-seach-button .html-face{
	display: none;
}

.qp-dictionary-search-box{
	width:98%;
	border: 0px;
	text-align: left;
	font-size: 16px;
	background: none repeat scroll 0 0 #F2F2F2;
}

.qp-dictionary-explanation-back-button{
	display:none;
}

.qp-dictionary-password-button, .qp-dictionary-show-more-button{
	background: #e9eae9 no-repeat;
	min-height: 25px;
	padding-left:10px;
	padding-top:2px;
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #b0b0b0;
	cursor: pointer;
}
.qp-dictionary-show-more-button-up{
background: #C8C8C8 no-repeat;
}

.qp-dictionary-password-button-up{
background: #DDDDDD no-repeat;
}

.qp-dictionary-password-button-up-hovering{
background: #e9eae9 no-repeat;
}

.qp-dictionary-password-button-down-hovering{
background: #e9eae9 no-repeat;
}

.qp-dictionary-password-button-selected{
	background: #FFCC00 no-repeat;
	color: #474747;
}

.qp-dictionary-explanation > div{
	margin:0;
	width:auto;
	display:block;
	float: none;
	padding:10px 20px;
}

.qp-dictionary-explanation-type {
	color: #474747;
	margin: 10px 0 0 10px;
	width: 100%;
	float:left;
	font-style: italic;
}

.qp-dictionary-explanation-entry-description, .qp-dictionary-explanation-entry-example {
	margin-top: 10px;
	padding: 10px;
	width: 95%;
	float:left;
}
.qp-dictionary-explanation .qp-dictionary-explanation-entry{
    background: none repeat scroll 0 0 #FFCC00;
 	margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    position:relative;
}
.qp-dictionary-explanation-source-label{
	color: #969696;
	display:none;
}
.qp-dictionary-explanation .qp-dictionary-explanation-play-button{
	background: url("btn_audio_player.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 50px;
    width: 50px;
    clear:both;
	margin-top: 15px;
	padding:0;
	margin-left:16px;
	display:none;
}
.qp-dictionary-explanation .qp-dictionary-explanation-play-button-up-hovering{
	background: url("btn_audio_player.png") no-repeat scroll -50px 0px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    clear:both;
	margin-top: 15px;
	padding:0;
	margin-left:16px;
}

.qp-dictionary-explanation .qp-dictionary-explanation-play-button .html-face{
	display: none;
}

/*entry*/
.qp-dictionary-explanation-entry-play-button,
.qp-dictionary-explanation-entry-play-button-playing{
	background: url("btn_audio_player.png") no-repeat;
    cursor: pointer;
    height: 50px;
    width: 50px;
	padding:0;
	position:absolute;
}

.qp-dictionary-explanation-entry-play-button-up,
.qp-dictionary-explanation-entry-play-button-down{
	background-position: 0 0;
}
.qp-dictionary-explanation-entry-play-button-up-hovering{
	background-position: -50px 0;
}
.qp-dictionary-explanation-entry-play-button-down-hovering{
	background-position: -50px 0;
}
.qp-dictionary-explanation-entry-play-button-playing-up,
.qp-dictionary-explanation-entry-play-button-playing-down{
	background-position: -50px -100px;
}
.qp-dictionary-explanation-entry-play-button-playing-up-hovering{
	background-position: 0 -100px;
}
.qp-dictionary-explanation-entry-play-button-playing-down-hovering{
	background-position: -50px -100px;
}
.qp-dictionary-explanation-entry-label {
    padding: 13px 0 13px 55px;
    min-height: 22px;
}
/*entry end */

.qp-dictionary-search-box-container{
	padding:0;
	margin:0;
}

.qp-dictionary-search-box{
	padding:0;
	margin:0;
}

.qp-dictionary-explanation .qp-dictionary-explanation-play-button-playing{
	background: url("btn_audio_player.png") no-repeat scroll -50px -50px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    clear:both;
	margin-top: 15px;
	padding:0;
	margin-left:16px;
}
.qp-dictionary-explanation .qp-dictionary-explanation-play-button-playing-up-hovering{
	background: url("btn_audio_player.png") no-repeat scroll 0px -50px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    clear:both;
	margin-top: 15px;
	padding:0;
	margin-left:16px;
}
.qp-dictionary-explanation .qp-dictionary-explanation-play-button-playing .html-face{
	display: none;
}

.html-face{
	padding-top:1px;
}

.qp-dictionary-password-button input, .qp-dictionary-show-more-button input{
	display:none;
}
.qp-dictionary-close-button{
	background: url("btn_close_popup.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 20px;
    width: 20px;
	left: 50%;
    margin: 95px 0 0 459px;
    position: absolute;
}
/* --------------------------------------------------------------- */
/* --------------END audio player app offline END----------------- */
/* --------------------------------------------------------------- */}