.type_2{
}
.type_2 .a_player {
    position: absolute;
    z-index: 10;
}
.type_2 .qp-img-container{
	padding: 12px 0 0 12px;
}
.type_2 .qp-placeholder {
	display:inline-block;
	vertical-align: middle;
}
.type_2 .qp-textinteraction{
    padding: 2px 0 0px 12px;
}
