.type_5{
}
.type_5 .column_left .a_player {
    position: absolute;
    z-index: 10;
}
.type_5 .column:first-child{
    border-right: 1px dashed #CCCCCC;
    height: 471px;
    text-align: center;
    width: 50%;
	margin: 0;
}
.type_5 .column:last-child{
    padding: 0 20px;
    width: 50%;  
}
.type_5 .qp-img-container{
	padding: 0;
}
.type_5 .qp-ordered-horizontal{
	margin: 10px 0;
}
.type_5 .qp-span {
    display: block;
}
.type_5 .column:last-child .qp-placeholder {
	display: inline-block;
}
.type_5 .qp-text-choice-popup, 
.type_5 .qp-text-choice-popup-none, 
.type_5 .qp-text-choice-popup-disabled, 
.type_5 .qp-text-choice-popup-wrong, 
.type_5 .qp-text-choice-popup-correct{
	min-width: 325px;
}