* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.ia-container {
    position: relative;
    max-width: 930px;
    max-height: 430px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
	background-color: #FFF;
}

.in-cont {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}

.card-container {
    position: absolute;
}

.card-row {
	position: absolute;
	height: 133px;
}

.card {
    position: relative;
    width: 133px;
    height: 133px;
	float: left;
	border-radius: 10px;
}

.card0 {
	background: url("images/01_first.png") no-repeat center;
    background-size: contain;
}

.card1 {
	background: url("images/02_second.png") no-repeat center;
    background-size: contain;
}

.card-over {
	background: url("images/03_klik.png") no-repeat center;
    background-size: contain;
}

.holder, .front {
    position: absolute;
    width: 100%;
    height: 100%;
}

.front {
	
}

.holder {
	position: relative;
	display: table;
	text-align: center;
	width: 133px;
	height: 133px;
}

.holder > .holder-element {
	display: table-cell;
	vertical-align: middle;
}

.holder-img, .card-snd-icon {
	position: absolute;
    top: 0;
    bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
}

.holder-frame {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url("images/frame.png") no-repeat center;
    background-size: contain;
}

span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #000;
}

#allOkBg {
    position: absolute;
    width: 547px;
    height: 60px;
    left: 191px;
    top: 185px;
	background: url("images/allOkBg.png") no-repeat center;
    background-size: contain;
    z-index: 2;
    display: none;
	text-align: center;
}

#allOkBg > span {
	display: table-cell;
	vertical-align: middle;
}

#resetBtn {
    position: absolute;
	width: 50px;
    height: 50px;
    background: url("images/reset_1.png") no-repeat center;
    background-size: contain;
    z-index: 1;
}
.non-mobile:hover {
	background: url("images/reset_klik.png") no-repeat center !important;
    background-size: contain;
}

.card, #resetBtn {
    cursor: pointer !important;
    cursor: hand !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.readonly {
	cursor: default !important;
}

#preloader {
	display: none;
}

#my-debug {
	display: none;
	left: 100px;
	top: 10px;
	font-family: Arial;
	font-size: 14px;
	color: #C00;
	z-index: 10;
}
