/* zerowanie*/

.type_18c{
}
.type_18c .qp-img-container{
	padding: 0;
	margin:0;
}

.type_18c .qp-placeholder {
	display: block;
    padding: 0;
	margin:0;
}

.type_18c .connection_h{
    display: inline-block;
    padding: 0;
	margin:0;
}

/* definicja elementu lewego i prawego*/

.type_18c .connection_h .qp-connection-left-column,
.type_18c .connection_h .qp-connection-right-column{
    display: inline-block;
    text-align: center;
    width: 100%;
    float: none;
}

/* definicja elementu centralnego*/
.type_18c .connection_h .qp-connection-center-column{
	text-align:center;
	display:inline-block;
	width:100%;
	height:60px;
}

/* odleglosc od buttonów*/
.type_18c .connection_h .qp-connection-left-column .qp-connection-item-content{
	margin-bottom:10px;
}
.type_18c .connection_h .qp-connection-right-column .qp-connection-item-content{
	margin-top:10px;
}


/* szerokosci column*/

.type_18c .connection_h.x7 .qp-connection-item{
	width:14%;
}

.type_18c .connection_h.x6 .qp-connection-item{
	width:16%;
}

.type_18c .connection_h.x5 .qp-connection-item{
	width:20%;
}

.type_18c .connection_h.x4 .qp-connection-item{
	width:25%;
}

.type_18c .connection_h.x3 .qp-connection-item{
	width:33%;
}

.type_18c .connection_h.x2 .qp-connection-item{
	width:50%;
}

.type_18c .connection_h.x0 .qp-connection-item{
	width:auto;
	margin:0 10px;
}


/* definicja elementów jako bloki*/
.type_18c .qp-connection-item-content .a_player{
	display: inline-block;
	vertical-align:middle;
}


.type_18c .connection_h .qp-connection-item{
	display:inline-block;
	vertical-align: top;
	width:auto;
}
.type_18c .connection_h .qp-connection-item-content {
    display: block;
    padding: 0;
    width: auto;
}



.type_18c .qp-connection-left-column .qp-text-inline,
.type_18c .qp-connection-right-column .qp-text-inline{
	display:inline-block;
}

/* definicja elementu tekstowego jeśli jest glosnieczek na zdjeciu*/

.type_18c .connection_v .qp-text-inline span{
    display: inline-block;
    vertical-align:middle;
    padding:0 0px;
}

.type_18c .connection_h .qp-text-inline span{
    display: block;
    padding:0 0px;
    text-align:center;
}

.type_18c .connection_v .qp-img-container {
    display: inline-block;
    padding: 0;
    vertical-align:middle;
}

.type_18c .a_player_over_img.right_aright .connection_h .qp-connection-right-column .qp-text-inline span,
.type_18c .a_player_over_img.left_aright .connection_h .qp-connection-left-column .qp-text-inline span,
.type_18c .a_player_over_img.right_aleft .connection_h .qp-connection-right-column .qp-text-inline span,
.type_18c .a_player_over_img.left_aleft .connection_h .qp-connection-left-column .qp-text-inline span
{
    display: inline-block;
    width:132px;
    text-align:center;
    padding:0;
}


/* align audio player old definition*/
.type_18c .left .qp-connection-left-column .qp-text-inline,
.type_18c .left .qp-connection-right-column .qp-text-inline{
	display:inline-block;
	text-align:left;
}

.type_18c .right .qp-connection-left-column .qp-text-inline,
.type_18c .right .qp-connection-right-column .qp-text-inline{
	display:inline-block;
	text-align:right;
}

/* align audio player */
.type_18c .left_aleft .qp-connection-left-column .qp-text-inline{
	display:inline-block;
	text-align:left;
}


.type_18c .left_aright .qp-connection-left-column .qp-text-inline{
	display:inline-block;
	text-align:right;
}
.type_18c .left_aright .qp-connection-left-column .qp-text-inline .a_player{
	margin-left: -36px;
}



.type_18c .right_aleft .qp-connection-right-column .qp-text-inline{
	display:inline-block;
	text-align:left;
}


.type_18c .right_aright .qp-connection-right-column .qp-text-inline{
	display:inline-block;
	text-align:right;
}

.type_18c .right_aright .qp-connection-right-column .qp-text-inline .a_player{
	float: right;
    margin-left: -38px;
    position: relative;
}




/* align audio player center */
.type_18c .left_anormal .qp-connection-left-column .qp-text-inline{
	display:inline-block;
	text-align:center;
	vertical-align:middle;
}
.type_18c .left_anormal .qp-connection-left-column .qp-text-inline .a_player{
	margin:0;
	position:inherit;
	vertical-align:middle;
}


.type_18c .right_anormal .qp-connection-right-column .qp-text-inline{
	display:inline-block;
	text-align:center;
	vertical-align:middle;
}
.type_18c .right_anormal .qp-connection-right-column .qp-text-inline .a_player{
	margin:0;
	position:inherit;
	vertical-align:middle;
}


